section.delivery {
    margin-top: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
}

section.delivery > h2 {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

section.delivery > h2 > span {
    padding: 0.25rem 0.5rem;

    font-size: 1.5rem;
    color: white;

    background: var(--text);
    border-radius: 50px;
}

section.delivery > .order-list {
    width: calc(22.5rem * 3 + 2.5rem);
    max-width: 90dvw;
    max-height: calc(8.5rem * 2 + 1rem);

    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, 22.5rem);
    justify-content: center;
    gap: 1rem 0.5rem;
}
